*{
    font-family: sans-serif;
    /* transition-property: all 3s ease-in-out; */
}


.firstsec{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
}

.firstp{
  background: linear-gradient(grey,rgb(243, 8, 8));
  border: 5px solid black;
  padding: 5PX;
  border-radius: 20px ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #FFFFFF; 
  position: absolute;
  bottom: 100px;
  left: 100px;
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}
.posterheading{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  position: absolute;
  top: 100px;
  left: 100px;
  font-weight: 900;
  font-size: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.firstimg{
  position: absolute; top: 0px;
  width: 100%; height: 100vh; 
  /* opacity: 0.5;  */
}
.nb{
  position: sticky;
  top: 0px;
  z-index: 5;
}
.navbar{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 85%;
  border-radius: 20px;
  background-color: rgba(2, 2, 24, 0.919);
  top: 0px;
}
.a0 {
    padding: 20px;
    font-size: medium;
    color: white;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .a0:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .a0:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .a1:hover,.a2:hover,.a3:hover,.a4:hover,.a5:hover{
    background-color: #3a1191;
    border-radius: 10px;
    padding: 20px;
    color: rgb(255, 0, 230);
    /* color: #ff0000; */
}

.a1,.a2,.a3,.a4,.a5{
    padding: 20px;
    color: white;
    font-size: 19px;
    text-decoration: none;
}


sub{
  font-size: small;
}
/* CSS */
.b0,
.b0:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.b0:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.b0:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .b0,
  .b0:after {
    width: 400px;
    height: 86px;
    line-height: 50%;
  }
}
.linksline{
    text-decoration: none;
}

.middlesec{
    margin: 0px 170px 0px 170px;
    height: 95vh;
    background: linear-gradient(35deg,blueviolet,rgb(20, 20, 160),purple);
    border-radius: 20px;
}
.websection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 111px;
}
/* CSS */
.staticdiv {
  width: 22%;
  height: 371px;
  font-size: large;
  padding: 4%;
  border: none;
  outline: none;
  color: whitesmoke;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.staticdiv:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.staticdiv:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.dynamicdiv {
    width: 22%;
    height: 371px;
    margin: 10px auto;
    font-size: large;
    padding: 4%;
    border: none;
    outline: none;
    color: whitesmoke;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .dynamicdiv:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .dynamicdiv:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .staticdiv,.dynamicdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin: 10px;
    line-height: 25px;
  }

.staticdiv:hover,.dynamicdiv:hover{
  font-size: large;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  scale: 1.1;
}

.containerdiv,.containerdiv2{
    margin: 50px 150px 0px 150px;
    justify-content: space-evenly;
    justify-content: space-between;
}

tr:hover{
  background-color: rgb(239, 233, 233);
}
table,th,td{
    text-align: center;
    border: ridge 1px ;
    border-collapse: collapse;
    padding: 20px 30px 20px 30px;
}
.ul-list{
  display: none;
}
table{
  border-top: 3px solid red;
  /* margin: 0px 170px 0px 150px; */
}
.fixed{
  /* display: none; */
  position: sticky;
  top: 70px;
  background-color: rgb(253, 251, 251);

}
a{
  text-decoration: none;
}
.txt-top,.txt-l{
  font-size: 25px;
  font-weight: bolder;
  color: white;
}
.skyblue{
    background-color: rgb(24, 208, 225);
    color: white;
}
.lightgreen{
    background-color: rgb(176, 105, 202);
    color: white;
}
.lightred{
    background-color: rgb(237, 23, 23);
    color: white;
}
.yellow{
    background-color: rgb(32, 10, 229);
    color: white;
}
.pink{
  background-color: rgb(209, 6, 245);
  color: white;
}
.tick{
  text-align: center;
  color: rgb(20, 174, 20);
  font-size: large;
}
.default{
  text-align: center;
}

.getbtn,.getbtn1{
  color: #FFFFFF;
  font-weight: bolder;
  background-color: #381bf2df;
  padding: 13px;
  border-radius: 5px;
}

.view-sample-basic,.view-sample-basic-d{

color: #FFFFFF;
font-weight: bolder;
background-color: rgb(211, 60, 214);
padding: 10px;
border-radius: 5px;
}

.view-sample-corporate,.view-sample-business-d{

color: #FFFFFF;
font-weight: bolder;
background-color: rgb(136, 105, 202);
padding: 10px;
border-radius: 5px;
}

.view-sample-creative{

color: #FFFFFF;
font-weight: bolder;
background-color:rgb(237, 23, 23);
padding: 10px;
border-radius: 5px;
}
.view-sample-professional-d{

color: #FFFFFF;
font-weight: bolder;
background-color: rgb(10, 156, 229);
padding: 12px;
border-radius: 5px;
}

.view-sample-extra,.view-sample-demand{

color: #FFFFFF;
font-weight: bolder;
background-color: rgb(10, 167, 229);
padding: 10px;
border-radius: 5px;
}

.view-sample-demand{

color: #FFFFFF;
font-weight: bolder;
background-color: rgb(245, 6, 185);
padding: 10px;
border-radius: 5px;
}

.view-sample-creative-d{

color: #FFFFFF;
font-weight: bolder;
background-color:rgb(237, 23, 23);
padding: 12px;
border-radius: 5px;
}





.footer{
    background-color: rgb(47 53 62);
    padding-top: 60px;
    padding-bottom: 50px;
    color: #FFFFFF;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 212px;
  text-decoration: none;
}

.d1,.d2,.d3{
  justify-content: center;
  align-items: center;
  font-size: large;
}

.get_social{
    font-size: large;
    justify-content: center;
}
.icons1{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #fff;
    text-decoration: none;
}
.fa-brands{
    padding: 1%;
    color: #fff;
    font-size: xx-large;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px rgba(26, 6, 0, 0.849);
    z-index:100;
}

.my-float{
	margin-top:16px;
}


.social-icon{
    opacity: 0.9;
    text-decoration: none;
}

.phoneno{
    font-size: medium;
    opacity: 0.9;
    text-decoration: none;
    color: #fff;

}
.phoneno:hover{
    color: #ff0000;
    opacity: 1;
}
.quicklinks:hover,.get_social:hover,.nobold:hover{
    color: #ff0000;
    opacity: 1;
    font-weight: bolder;
}

.copyrightlmgm{
    text-decoration: none;
    color: #ff0000;
}

hr{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  opacity: 0.1;
  bottom: 25px;
}

.copy_right{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 8px;
}

.quicklinks{
    font-size: small;
    opacity: 0.9;
    text-decoration: none;
    color: #FFF;
}



@media screen and (max-width: 786px) {
  article{
    display: none;
    background-color: red; 
  }

  .skyblue{
    background-color: rgb(104, 169, 195);
    color: white;
}
.lightgreen{
    background-color: rgb(105, 202, 105);
    color: white;
}
.lightred{
    background-color: rgb(237, 23, 23);
    color: white;
}
.yellow{
    background-color: rgb(229, 152, 10);
    color: white;
}

}


.contactus{
  height: 100px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: #3e0169; */
  /* background-color: #111; */
  /* background:linear-gradient(35deg,red,black,red,black,red); */
  background:linear-gradient(35deg,black,rgb(162, 21, 21),black);
  color: white;
  font-size: 30px;
  margin-bottom: 100px;
}

#contactusbtn{
  position: relative;
  bottom: 15px;
}

.contactus div h1{
  display: inline;
  position: relative;
  right: 75px;
  margin: 0px auto;
}

#contactusbtn:hover{
  transition: all 0.1s ease-in;
  font-size: large;
  scale: 1.1;
}